*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(../cartasvoa.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
}

h2 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    align-content: center;
    text-align: center;
    padding:3rem;
    margin:3rem;
}
.conteudo-jogo {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px darkred;
    margin: 15px;
    padding: 10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    background-color: darkred;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin: 15px;
}
button:hover {
    background-color: black;
}

