*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
   .link_underline{
    text-decoration: none;
   }
  
}
 
body {
    h3 {
        color: darkred;
        font-family: Arial, sans-serif;
        align-content: center;
        text-align: center;
        padding:2rem;
        margin:2rem;
        font-size: 2rem;
    }
    background-color: black;
    section {
        align-content: center;
        text-align: right;
        font-size: 2rem;
        a:visited {
            font-family: Arial, sans-serif;
            color: white;
            font weight: 500;
            font-size: 1.5em;
    }
}
}